.img-profile {
  border: 0.5rem solid rgba(51, 51, 51, 0.2);
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
}

@media (min-width: 924px) {
  .img-profile {
    height: 24rem;
    width: 24rem;
  }
}

.email-link:link,
.email-link:visited {
  font-size: 1.6rem;
}

.name {
  font-size: 1.6rem;
}

.about-content {
  font-size: 1.4rem;
}

.home-container {
  margin: 0;
  padding: 0;
}

.company-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.skill-list {
  list-style: none;
}

.skill-list span {
  font-weight: 700 !important;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.skill:hover > .skill-icon {
  cursor: pointer;
  transform: scale(110%);
}

.skill-icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.4s ease;
}
