.img-profile {
  border: 0.5rem solid rgba(51, 51, 51, 0.2);
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
}

@media (min-width: 924px) {
  .img-profile {
    height: 24rem;
    width: 24rem;
  }
}

.name {
  font-size: 1.6rem;
}

.download-cv {
  font-weight: 600;
  text-decoration: none;
  color: #313f4c;
  background-color: #a2d2ff;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  transition: all 0.3s;
}

.download-cv:hover {
  background-color: #bde0fe;
}

.about-content {
  font-size: 1.4rem;
}

.experience-container {
  background-color: #bde0fe;
}

.company-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.skill-list {
  list-style: none;
}

.skill-list span {
  font-weight: 700 !important;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.skill:hover > .skill-icon {
  cursor: pointer;
  transform: scale(110%);
}

.skill-icon {
  width: 5rem;
  height: 5rem;
  transition: all 0.4s ease;
}
